{% extends "baseadmin.html.twig" %}

{% block body %}
    <h5 class="card-title mb-3">Ajouter un aliment :</h5></br>


    {{ form_start(formAliment) }}

    <div class="row align-items-end mb-3">
        <div class="col">
            {{ form_row(formAliment.nom) }}
        </div>
        <div class="col">
            {{ form_row(formAliment.unite) }}
        </div>
        <div class="col">
            {{ form_row(formAliment.categorie) }}
        </div>

    </div>
    <button class="btn btn-success w-100">Ajouter</button>

    {{ form_end(formAliment) }}

    <hr>

    <h5 class="card-title mb-3">Liste des aliments :</h5>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Unité</th>
                <th>Catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for aliment in aliments %}
                <tr>
                    <td>{{ aliment.nom }}</td>
                    <td>{{ aliment.unite }}</td>
                    <td>{{ aliment.categorie.nom }}</td>
                    <td>
                        <a 
                            href="{{ path('admin.aliment.suppr', {id: aliment.id}) }}"
                            class="btn btn-danger btn-sm"
                            >Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}